@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* Header */

header .head-top {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}

header .logo img {
  width: 250px;
}

.head-right {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 10px;
}
.head-right .h-right {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.head1 img {
  width: 50px;
}

.h-right img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-top: 10px;
}

.h-right h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.pointer1 {
  cursor: pointer;
}

/* Navbar */

Nav {
  background-image: linear-gradient(90deg, #05a0f6, #51bffd);
}

Nav ul li a {
  color: white !important;
}
Nav ul li a:hover {
  color: rgb(255, 225, 0) !important;
}

Nav .nav-search {
  width: 200px;
  padding: 10px 0;
  height: 100%;
  background-color: #107df7;
  cursor: pointer;

}

Nav .nav-search  input{
  background: transparent;
  outline: none;
  border: none;
  width: 70%;
  
}

Nav .nav-search input::placeholder {
  color: white;
  opacity: 1; 
}

Nav .nav-search input::-ms-input-placeholder {
  color: white;
}

/* Section 1 Total Knee replacement */

.sec-1 {
  padding-top: 80px;
  padding-left: 100px !important;
}

section .sec-1 {
  background-image: url(images/banner_image-1725284861375.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

.sec-1 ul {
  list-style: none;
  display: flex;
}

.sec-1 ul li {
  margin-right: 5px;
}

.sec-1 ul li a {
  text-decoration: none !important;
  color: white;
}

.sec1-btm p {
  width: 40%;
}

.sec1-btm button {
  background-image: linear-gradient(90deg, #05a0f6, #51bffd);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 8px 28px;
  transition: transform 1000ms;
  position: relative;
  overflow: hidden;
}


.sec1-btm button:hover,
.sec1-btm button:focus-visible {
  color: rgb(243, 246, 85);
  transform: translateY(-0.75rem);
  transition: transform 500ms;
}

/* Section 2 Nav - Overview */

.sec-2 {
  height: 60px;
}
.sec-2 ul {
  list-style: none;
  display: flex;
}

.sec-2 ul li a {
  font-weight: 600;
  text-decoration: none !important;
  padding-bottom: 19px;
}

.sec-2-active {
  border-bottom: 3px solid #05a0f6;
}

/* Section 3 - Treatment Overview */

.sec-3,
.sec-3a {
  border-bottom: 2px dashed #51bffd;
}

.sec-3 p {
  width: 90%;
}

.treatment-ovr img {
  height: 350px;
}

/* Section 4 - Eligibility for Treatment */

.sec-4 ul {
  list-style-type: circle;
}

.sec-4 ul li::marker {
  color: #05a0f6;
}

.submit-form input::placeholder,
.submit-form textarea::placeholder {
  font-weight: 500;
  font-size: 13px;
}

.submit-form {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Section 4 - Accordion */

.accordion {
  --bs-accordion-btn-bg: white !important;
  --bs-accordion-active-bg: white !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  border-top: 1px solid rgb(193, 193, 193) !important;
}

.accordion-button {
  border-bottom: 1px solid rgb(193, 193, 193) !important;
  font-weight: 700;
  padding-left: 0 !important;
  padding-right: 200px !important;
}
.accordion .ab-1 {
  padding-right: 425px !important;
}
.accordion .ab-3 {
  padding-right: 280px !important;
}
.accordion .ab-4 {
  padding-right: 255px !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='8.75' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%2351bffd' d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z'/%3E%3C/svg%3E") !important;
  order: -1;
  margin-right: 1.3rem;
  margin-left: 0;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='8.75' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%2351bffd' d='M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E") !important;
}

.accordion-body p {
  color: grey;
  font-weight: 500;
  border-left: 3px solid #05a0f6;
  padding-left: 20px !important;
  margin-left: 30px !important;
}

.card {
  border-radius: 0px !important;
}

.card-img {
  position: relative;
}
.card-img img {
  width: 350px;
}

.card-img svg {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Patients Stories & Videos */

.card-info p {
  color: grey;
  font-size: 15px;
}

.card-title h6 {
  width: 70%;
  color: rgb(60, 0, 117);
  letter-spacing: 1px;
}

.card-main p {
  color: grey;
  font-size: 14px;
}

/* Form  */

.submit-form button {
  background-image: linear-gradient(90deg, #05a0f6, #51bffd);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 12px 28px;
  width: 100%;
  border-radius: 5px;
  transition: transform 1000ms;
}
.submit-form button:hover,
.submit-form:focus-visible {
  color: yellow;
  transform: translateY(0.75rem);
  transition: transform 250ms;
}

.submit-form h3 {
  color: #05a0f6;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.submit-form p {
  font-size: 14px;
}

section .r2 {
  margin-top: -150px !important;
}

/* Carousel Doctors */

.car-doc {
  background-color: #eaf8ff;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  padding: 20px;
}

.cards {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
}

.cards .image {
  background-color: rgb(255, 227, 232);
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}
.cards .image img {
  width: 100%;
  height: 250px;
}

.cards h6 {
  color: red;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.owl-dots {
  display: block !important;
  text-align: center;
  margin-top: 40px !important;
}

.owl-dot span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.car-doc-title h5 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: red;
}

.car-doc-title span {
  color: #05a0f6;
}

.cards2 {
  text-align: center;
  background-color: white;
  width: 350px;
  border: 2px dotted rgb(255, 105, 105);
  border-radius: 5px;
}

.doc-loc2 {
  font-weight: 500;
  padding-top: 10px !important;
}

.doc-loc3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: red;
  font-weight: 600;
  padding-bottom: 10px !important;
}

.hosp-btm span a {
  color: rgb(255, 77, 77);
}

/* Section bottom */

.sec-btm {
  background-image: linear-gradient(90deg, #05a0f6, #51bffd);
}

.sec-btm h1 {
  letter-spacing: 1px;
}

.sec-btm button {
  background-color: #107df7;

  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 8px 36px;
  transition: transform 1000ms;
}
.sec-btm button:hover,
.sec-btm button:focus-visible {
  color: rgb(227, 254, 74);
  transform: translateY(-0.75rem);
  transition: transform 500ms;
}

.sec-btm span {
  border-left: 2px solid rgba(255, 255, 255, 0.566);
}

.sec-btm2 {
  background-image: url(images/cta-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* Footer */
.footer-top ul {
  margin: 0;
  padding-left: 0;
}
.footer-top ul li {
  cursor: pointer;
}
.footer-top ul.dashed {
  list-style-type: none;
}
.footer-top ul.dashed > li {
  text-indent: -5px;
}
.footer-top ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
  padding-right: 15px !important;
  color: #107df7;
}

footer {
  position: relative;
}

.fotr-bg-img {
  background-image: url(images/dubai.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.footer-logo2 img {
  width: 250px;
}

.content-ft-main {
  position: absolute;
  width: 300px !important;
  top: -10%;
  right: 5%;
}

.footer-bottom {
  border-top: 1px solid rgba(120, 120, 120, 0.815);
}

.footer-no {
  color: #05a0f6;
}

.footer-bottomend {
  background-image: linear-gradient(90deg, #05a0f6, #51bffd);
  display: flex;
  justify-content: space-between;
}

.footer-bottomend p {
  display: inline;
}

/* Dark Mode */

.darkModer {
  background: black !important;
  color: white !important;
}

.darkmoding {
  padding: 0;
  width: 30px;
  height: 30px;

  font-size: 2px !important;
}
.darkmoding svg {
  width: 15px;
  height: 15px;
  margin-left: -3px !important;
}

.darkmoding svg:last-child {
  display: none;
  color: black;
}
.logo2 {
  display: none;
}

.darkModer .logo1 {
  display: none;
}
.darkModer .logo2 {
  display: block;
}

.logo2 {
  margin-bottom: -30px !important;
}

.darkModer .accordion {
  --bs-accordion-btn-bg: black !important;
  --bs-accordion-btn-color: white !important;
  --bs-accordion-active-bg: black !important;
  --bs-accordion-active-color: white;
}

.darkModer .car-doc-title h3 {
  color: black;
}

.darkModer .rc-Hosp h3 {
  color: white;
}

.darkModer .cards p {
  color: black;
}

.darkModer .submit-form {
  box-shadow: #05a0f6 0px 3px 6px, #51bffd 0px 3px 6px;
}

.darkModer .darkmoding svg:first-child {
  display: none;
}

.darkModer .darkmoding svg:last-child {
  display: block;
  color: black;
}

.darkModer .h2-ic img {
  background-color: rgba(255, 255, 255, 0.316);
  border-radius: 30%;
}

.darkModer .container h3 {
  background: linear-gradient(90deg, #05a0f6, #51bffd) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

/* Animations */

/* Image fade Animation */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.knee-rep,
.content-ft-main {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Text Slide Animation */
.ani-h {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}
.ani-h-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Scroll Animation Top line */
.scroll-watcher {
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 0, 0);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* Preloader */

#pre-loader1 {
  background: #fff url(images/Loading.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 20000 !important;

}

/* Button Animation */

.sec1-btm button:before{
	position: absolute;
	width: 50%;
	top: 2px;
	left: 2px;
	bottom: 2px;
	content: '';
	background: rgb(142 255 240 / 10%);
}
.sec1-btm button span:nth-child(1) {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
	/* background: linear-gradient(to right, #002b9d, #34ffea); */
  background: white;
	animation: animate1 2s linear infinite;
}
@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
.sec1-btm button span:nth-child(2) {
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	right: 0;
	/* background: linear-gradient(to bottom, #002b9d, #34ffea); */
  background: white;
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}
.sec1-btm button span:nth-child(3) {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	/* background: linear-gradient(to left, #002b9d, #34ffea); */
  background: white;
	animation: animate3 2s linear infinite;
}
@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
.sec1-btm button span:nth-child(4) {
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 0;
	/* background: linear-gradient(to top, #002b9d, #34ffea); */
  background: white;
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}

/* Gsap Cursor */
#cursor{
  height: 10px;
  width: 10px;
  background: linear-gradient(90deg, #05a0f6, #51bffd) !important; 
  /* border: 1px solid black; */
  z-index: 10000;
  border-radius: 50%;
  position: fixed !important;
}
